<div class="p-2 pb-3">
    <div class="product-wap card rounded-0">

        <div class="container">
            <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
                <div class="col-1" style="padding-top: 0%;">
                    <a><img src="./assets/img/category_img_01.jpg" class="rounded-circle img-fluid border"></a>
                </div>
                <div class="col-11" style=" padding-top: 5px; padding-left: 0%;">
                    <span style="font-size: 20px;"> Phutuctran</span><br>
                    <span style="font-size: 15px;">Ngày mua: 11/5/2021</span>
                    <ul class="list-unstyled d-flex mb-1">
                        <li>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                        </li>
                    </ul>
                    <p class="mb-0">Sản phẩm sài như cut ý, 2 bữa là hư mất rồi, mọi người cẩn thận khi mua nhé, shop lừa đảo, mua một lần không quay lại lần 2, làm ăn như vậy mà coi được, chán chả muốn nói ahizzz</p>
                </div>
            </div>
        </div>

    </div>
</div>